<% @invoices.each do |invoice| %>
  <div id="invoice_<%= invoice.id %>">
    <ul>
      <li><a href="/invoices/<%=invoice.id%>"><%=invoice.merchant_id%></a></li>
    </ul>
    <form action="/invoices/<%=invoice.id%>/edit" method="GET">
      <input type="hidden" name="_method" value="EDIT">
      <input type="submit" value="Edit">
    </form>
    <form action="/invoices/<%= invoice.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
  </div>
<% end %>
