<h1><%= @merchant.name %></h1>
<% @merchant.items.each do |item| %>
  <ul>
    <li><img src='<%= item.image %>'>
    <li><a href="/items/<%=item.title%>"><%=item.title%></a></li>
    <li>><%=item.price%></a></li>
  <ul>
<% end %>

<form action="/merchants/<%=@merchant.id%>/edit" method="GET">
  <input type="hidden" name="_method" value="EDIT">
  <input type="submit" value="Edit">
</form>

<form action="/merchants/<%= @merchant.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
