<form class='edit-item' action='/items/<%= @item.id %>' method='POST'>
  <p>Edit <%= @item.title %>:</p>
  <input type='hidden' name='_method' value='PUT'>
  <input type='text' name='item[title]' value='<%= @item.title %>'>
  <textarea name='item[description]'><%= @item.description %></textarea><br/>
  <input type='text' name='item[price]' value='<%= @item.price %>'>
  <input type='text' name='item[image]' value='<%= @item.image %>'>
  <input type='submit' value='Edit Item'>
</form>
