<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>LittleShop</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
      
    </head>
    <body>
      <nav id="navbar">
        <ul>
          <li style="float:left"><a class="logo" href="/merchants">LittleShop</a></li>
          <li><a href="/merchants">Merchants</a></li>
          <li><a href="/items">Items</a></li>
          <li><a href="/invoices">Invoices</a></li>
        </ul>
      </nav>
      <div class="banner">
        <p><a href="/items/dashboard">Dashboard</a></p>
        <h1 class="title">Items</h1>
        <form method="get" action="items/new">
          <button type="submit">Create A New Item</button>
        </form>
      </div>
      <div class="grid-container">
      <% @items.each do |item| %>
        <div class="grid-item">
        <ul>
          <li><img src="item.jpg" alt="image placeholder"/>
          <li><a href="/items/<%=item.id%>"><%=item.title.truncate_words(3)%></a></li></br>
          <li>$ <%='%.2f' % item.price%></li></br>

          <form action="/items/<%=item.id%>/edit" method="GET">
            <input type="hidden" name="_method" value="EDIT">
            <input class="edit button" type="submit" value="Edit">
          </form>
          <form action="/items/<%= item.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input class="delete button" type="submit" value="Delete">
          </form>
        </ul>
      </div>
      <% end %>
      </div>
      </section>
    </body>
  </html>
